<!doctype html>
<html lang="en-US">
<head>

    <meta charset="utf-8">

    <title>Login</title>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Varela+Round">
    <link rel="stylesheet" type="text/css" href="css/login.css">

</head>

<body>

<div id="login">

    <h2><span class="fontawesome-lock"></span>{{ .Message }}</h2>

    <form action="/login" method="POST">

        <fieldset>

            <p><label for="email">E-mail address</label></p>
            <p><input type="email" name="email" id="email" value="mail@address.com" onBlur="if(this.value=='')this.value='mail@address.com'" onFocus="if(this.value=='mail@address.com')this.value=''"></p>

            <p><label for="password">Password</label></p>
            <p><input type="password" name="password" id="password" value="password" onBlur="if(this.value=='')this.value='password'" onFocus="if(this.value=='password')this.value=''"></p>

            <p><input type="submit" value="Sign In"></p>

        </fieldset>

    </form>

</div>

</body>
</html>